
WpfPrismNavigation/.vs/WpfPrismNavigation/v17/.suo
WpfPrismNavigation/.vs/WpfPrismNavigation/v17/.futdcache.v2
WpfPrismNavigation/.vs/WpfPrismNavigation/DesignTimeBuild/.dtbcache.v2
WpfPrismNavigation/.vs/ProjectEvaluation/wpfprismnavigation.projects.v5.1
WpfPrismNavigation/.vs/ProjectEvaluation/wpfprismnavigation.metadata.v5.1
